.items {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.items__item {
    margin: 1rem 0;
    border: 1px solid lightgray;
}

.items__item--active {
    background: lightgray;
}

.items__item:not(.items__item--active) {
    cursor: pointer;
}

.items__item a {
    padding: 0.5rem;
    display: block;
}